/**
 * RESPONSIVE
 */

@mixin desktop {
	@media (max-width: #{$desktop-width - 1}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$desktop-width + 19}) {
		@content;
	}
}

@mixin phone {
	@media (max-width: #{$tablet-width + 19}) {
		@content;
	}
}
