@font-face {
	font-family: 'Papyrus';
	src: url('./fonts/papyrus/papyrus-icg-regular-webfont.woff2') format('woff2'),
	url('./fonts/papyrus/papyrus-icg-regular-webfont.woff') format('woff'),
	url('./fonts/papyrus/papyrus-icg-regular-webfont.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
