html, body {
	margin: 0;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: black;
	background-image: url('../images/kbg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

	color: white;
}

main {
	font-family: Papyrus, Arial, sans-serif;

	@include phone {
		padding: 10px;
	}
}

h1 {
	text-align: center;
	font-weight: 100;
	font-size: 2.5em;
}
